<template>
    <div class="modal" v-if="isopen">
        <div class="backdrop" @click="closeModal"></div>
            <div class="content">
                 <slot>  
                     <!-- Aca se recibe la info    -->
                 </slot>
            </div>
    </div>    
</template>
<script>
export default {
    props:["isopen","closeModal"]
}
</script>
<style>
.backdrop{
    position: fixed;
    width: 100%;
    background: #4e4c4cab;
    top: 0;
    height: 100%;
}
.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.content{
    background: white;
    z-index: 20;
    width: 500px;
    height: 500px;
    position: relative;
}
</style>
