<template>
    <div>
        <div>
            <input type="text" v-model="firstName" placeholder="Ingrese su Nombre">
            <input type="text" v-model="lastName" placeholder="Ingrese su Apellido">
        </div>
        <div>
            Su nombre completo es {{fullName}}
        </div>
        <br>
        <br>
        <input type="text" v-model="search"  placeholder="Realiza una busqueda">
        <table>
            <thead>
                <th>Nombre</th>
                <th>DNI</th>
                <th>Telefono</th>
                <th>Detalle</th>
            </thead>
            <tbody>
                <tr v-for="(item,$index) of listItems" :key="$index">
                    <th>{{item.name}}</th>
                    <th>{{item.dni}}</th>
                    <th>{{item.phone}}</th>
                    <th><a href="" @click.prevent @click="detailUser(item)">Detalle</a></th>
                </tr>
            </tbody>
        </table>
        <Modal :isopen="modalOpen" :closeModal="closeModal">
            <div slot>
                {{actualUser}}
            </div>
        </Modal>
    </div>    
</template>
<script>
import Modal from "@/components/Modal.vue";

export default {
    components:{
        Modal
    },
    data(){
        return {
            modalOpen:false,
            firstName:"",
            lastName:"",
            search:"",
            lusers:[],
            actualUser:{},
            users:[{
                    name:"Jhon",
                    dni:70805913,
                    phone:13131635
                    },{
                        name:"Jorge",
                        dni:54548115,
                        phone:32132132
                    },{
                        name:"Octavio",
                        dni:165611515,
                        phone:2165626
                    }]
        }
    },
    created(){
        this.lusers=Object.assign(this.users);
    },
    methods:{
        closeModal(){
            this.modalOpen=false;
        },
        detailUser(user){
            this.actualUser=user;
            this.modalOpen=true;
        }
    },
    computed:{
        fullName(){
            return `${this.firstName} ${this.lastName}`
        },
        listItems(){
            return this.users.filter(item=>{
                var regex=new RegExp(this.search,'i');
                if(item.name.match(regex)){
                    return item;
                }
            })
        }
    },
    watch:{
        "search":function(n){
            this.lusers=this.users.filter(item=>{
                var regex=new RegExp(n,'i');
                if(item.name.match(regex)){
                    return item;
                }
            })
        }
    }
}
</script>
<style>

</style>
